<div class="main-container mat-elevation-z8">
  <div class="list-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </mat-form-field>
  </div>
  <mat-tab-group dynamicHeight="true" (selectChange)="onSelect($event)" [selectedIndex]="activeTab">
    <mat-tab label="Pendientes">
      <h2>{{title}} Pendientes</h2>
      <div *ngIf="isFetching" class="spinner">
        <mat-progress-spinner
          [color]="orange"
          mode="indeterminate">
        </mat-progress-spinner>
      </div>
      <mat-table #table [dataSource]="dataSourcePending" matSort>
        <ng-container [matColumnDef]="column.columnDef" *ngFor="let column of columns">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{column.header}} </mat-header-cell>
          <div><!--*ngIf="isInColumns(column.columnDef)"-->
            <div [ngSwitch]="column.columnDef">
              <div *ngSwitchCase="'date'">
                <mat-cell *matCellDef="let element">
                  {{column.cell(element) == 'null' ? "-" : column.cell(element) | date: 'dd/MM/yyyy'}}
                </mat-cell>
              </div>
              <div *ngSwitchCase="'amount'">
                <mat-cell *matCellDef="let element">
                  $ {{column.cell(element) == 'null' ? "-" : column.cell(element)}}
                </mat-cell>
              </div>
              <div *ngSwitchDefault>
                <mat-cell *matCellDef="let element">
                  {{column.cell(element) == 'null' ? "-" : column.cell(element)}}
                </mat-cell>
              </div>
              <div *ngSwitchCase="'actions'">
                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef> {{column.columnDef}} </mat-header-cell>
                  <mat-cell *matCellDef="let element" class="action-column">
                    <button mat-raised-button color="primary">
                      <span>{{action}}</span>
                    </button>
                  </mat-cell>
                </ng-container>
              </div>
            </div>
          </div>
          </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumnsWithActions"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsWithActions;" (click)="edit(row, 'edit')"></mat-row>
      </mat-table>
      <div *ngIf="errorMsg">
        {{errorMsg}}
      </div>
      <!--<mat-paginator [length]="dataSourcePending.filteredData.length"-->
                     <!--[pageSize]="10"-->
                     <!--[pageSizeOptions]="[5, 10, 25, 100]">-->
      <!--</mat-paginator>-->
    </mat-tab>
    <mat-tab label="Cerrados">
      <h2>{{title}} Cerrados</h2>
      <div *ngIf="isFetching" class="spinner">
        <mat-progress-spinner
          [color]="orange"
          mode="indeterminate">
        </mat-progress-spinner>
      </div>
      <mat-table #table [dataSource]="dataSourceClosed" matSort>
        <ng-container [matColumnDef]="column.columnDef" *ngFor="let column of columns">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <div [className]="column.columnDef">
              {{column.header}}
            </div>
          </mat-header-cell>
          <div [ngSwitch]="column.columnDef">
            <div *ngSwitchCase="'date'">
              <mat-cell *matCellDef="let element">
                {{column.cell(element) == 'null' ? "-" : column.cell(element) | date: 'dd/MM/yyyy'}}
              </mat-cell>
            </div>
            <div *ngSwitchCase="'amount'">
              <mat-cell *matCellDef="let element">
                $ {{column.cell(element) == 'null' ? "-" : column.cell(element)}}
              </mat-cell>
            </div>
            <div *ngSwitchCase="'when_valid_account'">
              <mat-cell *matCellDef="let element">
                {{column.cell(element) == 'null' ? "-" : column.cell(element) | date: 'dd/MM/yyyy'}}
              </mat-cell>
            </div>
            <div *ngSwitchDefault>
              <mat-cell *matCellDef="let element">
                {{column.cell(element) == 'null' ? "-" : column.cell(element)}}
              </mat-cell>
            </div>
          </div>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="edit(row, 'read')"></mat-row>
      </mat-table>
      <div *ngIf="errorMsg">
        {{errorMsg}}
      </div>
      <!--<mat-paginator [length]="dataSourceClosed.filteredData.length"-->
                     <!--[pageSize]="10"-->
                     <!--[pageSizeOptions]="[5, 10, 25, 100]">-->
      <!--</mat-paginator>-->
    </mat-tab>
  </mat-tab-group>
</div>
