<div class="list-container mat-elevation-z8">
  <div class="list-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </mat-form-field>
  </div>
  <mat-tab-group dynamicHeight="true">
    <mat-tab label="Pendientes">
      <h2>Pagos Pendientes</h2>
      <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="code">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Cód. O </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.code}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="card">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Tarjeta </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.card}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Monto </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="deadline">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Plazo </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.deadline}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="titular">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Titular del Pago </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.titular}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="beneficiary">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Beneficiario </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.beneficiary}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="edit(element)">Procesar</button>
            </mat-menu>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumnsWithActions"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsWithActions;"></mat-row>
      </mat-table>
      <mat-paginator [length]="dataSource.data.length"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </mat-tab>
    <mat-tab label="Cerrados">
      <h2>Pagos Cerrados</h2>
      <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="code">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Cód. O </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.code}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="card">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Tarjeta </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.card}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Monto </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="deadline">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Plazo </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.deadline}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="titular">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Titular del Pago </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.titular}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="beneficiary">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Beneficiario </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.beneficiary}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [length]="dataSource.data.length"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </mat-tab>
    <mat-tab label="Edición">
      <div class="content-style">
        <h2>Operación a Procesar</h2>
        <form class="edit-form" [formGroup]="form">
          <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
              <h3>Datos Operación</h3>
              <mat-form-field class="edit-form__input">
                <input matInput [matDatepicker]="picker1" placeholder="Fecha de Pago"
                       formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="edit-form__input">
                <input matInput placeholder="Monto" type="number" formControlName="amount">
                <span matPrefix>$&nbsp;</span>
                <span matSuffix></span>
              </mat-form-field>
              <mat-form-field class="edit-form__input">
                <input matInput placeholder="Tarjeta" formControlName="card">
              </mat-form-field>
              <mat-form-field class="edit-form__input">
                <input matInput placeholder="Plazo" type="number" formControlName="deadline">
                <span matSuffix>días&nbsp;</span>
              </mat-form-field>
              <mat-divider></mat-divider>
              <h3>Datos Titular</h3>
              <p>
                <strong>Nombre: </strong>
                Juan Perez
              </p>
              <p>
                <strong>Empresa: </strong>
                Juan Perez
              </p>
              <p>
                <strong>Teléfono: </strong>
                351 678222
              </p>
              <mat-divider></mat-divider>
              <h3>Datos Destinatario</h3>
              <p>
                <strong>Nombre: </strong>
                Pedro Juarez
              </p>
            </mat-grid-tile>
            <mat-grid-tile>
              <h3>Resultado Lapos Web</h3>
              <mat-form-field>
                <input matInput [matDatepicker]="today" placeholder="Fecha a procesar"
                       formControlName="today" disabled>
                <mat-datepicker-toggle matSuffix [for]="today"></mat-datepicker-toggle>
                <mat-datepicker #today disabled="true"></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="edit-form__input">
                <input matInput placeholder="Cupón" formControlName="voucher">
              </mat-form-field>
              <mat-form-field class="edit-form__input">
                <input matInput placeholder="AUT" formControlName="aut">
              </mat-form-field>
              <mat-form-field class="edit-form__input">
                <mat-select placeholder="Resultado" [(ngModel)]="selectedValue" name="result"
                            formControlName="result">
                  <mat-option *ngFor="let result of results" [value]="result.value">
                    {{result.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="edit-form__input">
                <textarea matInput placeholder="Observaciones" formControlName="observation"></textarea>
              </mat-form-field>
              <div class="edit-form__input">
                <button mat-button (click)="inputFile.click()" class="edit-form__input-file">
                  Cargar archivo
                </button>
                {{inputFile.value}}
                <input hidden #inputFile type="file" formControlName="file"
                       (change)="previewImage($event)">
              </div>
              <div class="button-row top">
                <button mat-raised-button color="primary" type="submit">Guardar</button>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </form>
      </div>
        <mat-divider></mat-divider>
    </mat-tab>
  </mat-tab-group>
</div>
