.list-header {
  min-height: 64px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.edit-form {
  &__input{
    display: block !important;
    max-width: 300px;
  }
  &__input-file {
    background-color: rgba(2,2,2,.2);
  }
  .mat-grid-tile .mat-figure {
    display: block !important;
  }
}

md-tab-group{
  height: 100%;
}

.content-style, .mat-grid-tile {
  height:100vh;
}

.action-column {
  button {
    border: .1px solid #afafae;
    border-radius: 0px;
    text-align: center;
  }
}

.who_valid_account, .when_valid_account {
  font-weight: bold;
  color: #1a1a1a;
}

/*Override*/
mat-row:hover {
  background: rgba(32, 121, 107,.3);
  cursor: pointer;
}
