.list-header {
  min-height: 64px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.edit-form {
  &__input{
    display: block !important;
    max-width: 300px;
  }
  &__input-file {
    background-color: rgba(2,2,2,.2);
  }
  .mat-grid-tile .mat-figure {
    display: block !important;
  }
}

md-tab-group{
  height: 100%;
}

.content-style, .mat-grid-tile {
  height:100vh;
}
