<div class="main-container mat-elevation-z8">
  <div class="list-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </mat-form-field>
  </div>
  <mat-tab-group dynamicHeight="true">
    <mat-tab label="Pendientes">
      <h2>{{title}} Pendientes</h2>
      <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="code">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Cód. O </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.code}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="card">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Tarjeta </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.card}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Monto </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="deadline">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Plazo </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.deadline}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="titular">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Titular del Pago </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.titular}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="beneficiary">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Beneficiario </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.beneficiary}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
          <mat-cell *matCellDef="let element" class="action-column">
            <button mat-menu-item (click)="edit(element)">
              <span>{{action}}</span>
              <mat-icon>check_circle</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumnsWithActions"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsWithActions;"></mat-row>
      </mat-table>
      <mat-paginator [length]="dataSource.data.length"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </mat-tab>
    <mat-tab label="Cerrados">
      <h2>{{title}} Cerrados</h2>
      <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="code">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Cód. O </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.code}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="card">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Tarjeta </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.card}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Monto </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="deadline">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Plazo </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.deadline}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="titular">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Titular del Pago </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.titular}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="beneficiary">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Beneficiario </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.beneficiary}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [length]="dataSource.data.length"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </mat-tab>
  </mat-tab-group>
</div>
