.login {
  padding: 2em 0;
  .login__logo {
    text-align: center;
    background: rgb(255,255,255);
    width: 100%;
    margin: auto;
    padding-top: 50px;
    height: 200px;
  }
  .login__card {
    margin: auto;
    margin-top: 170px;
    width: 350px;
  }
  .mat-form-field {
    width: 100%;
  }
}
