<mat-sidenav-container class="example-sidenav-fab-container" fullscreen>
  <mat-toolbar color="primary" class="menu">
    <mat-toolbar-row>
      <button mat-mini-fab class="example-fab" (click)="sidenav.toggle()" color="primary">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="text-right menu__option">
        <mat-menu #appMenu="matMenu">
          <button mat-menu-item>
            Cerrar Sesión
          </button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav #sidenav mode="side" color="primary">
    <div class="example-scrolling-content">
      Menú de opciones
    </div>
  </mat-sidenav>
</mat-sidenav-container>
