<mat-sidenav-container class="sidenav" fullscreen>
  <mat-toolbar color="primary" class="sidenav__toolbar">
    <mat-toolbar-row>
      <div class="sidenav__title text-center">
        <span>Panel de Administración</span>
      </div>
      <button mat-mini-fab (click)="sidenav.toggle()" color="primary">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="sidenav__option text-right">
        <mat-menu #appMenu="matMenu">
          <button mat-menu-item>
            Cerrar Sesión
          </button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav #sidenav mode="side" color="primary">
    <div class="sidenav__menu">
      <div class="sidenav__logo">
        <img mat-card-image src="../../assets/img/logo.png"  alt="logo">
      </div>
      <mat-nav-list>
        <mat-list-item class="sidenav__menu-items" *ngFor="let page of pages">
          <a matLine >{{page.title}}</a>
          <button mat-icon-button (click)="showInfo(link)">
            <mat-icon>{{page.icon}}</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
