/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  background: lightgray;
  background-image: url(/assets/img/bg-login.jpeg);
  webkit-background-image: url(/assets/img/bg-login.jpeg);
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  width: 100%;
}

/*Commons styles*/
.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.right {
  float: right;
}

.top {
  padding-top: 50px;
}

.top-large {
  padding-top: 100px;
}

.main-container {
  padding: 30px 0px 20px 50px;
  display: flex;
  flex-direction: column;
  height: auto;
  min-width: 300px;
}

.error-msg {
  padding-top: 20px;
}

.error-msg span {
  color: red;
  font-style: italic;
}

.spinner {
  padding: 30px 0px;
}

/*Edit Component*/
mat-grid-tile p {
  color: rgba(0, 0, 0, 0.52);
}

.main-container .back-button {
  padding-right: 25px;
  button {
    float: right;
  }
}

.small-form {
  width: 400px;
  mat-form-field {
    display: block !important;
  }
}


/*Override*/
mat-divider {
  margin-right: 100px !important;
}

.small-button {
  width: 160px !important;
}

.grey-button {
  background: rgba(2,2,2,.1) !important;;
}

mat-progress-spinner, mat-progress-spinner svg {
  width: 40px !important;
  height: 40px !important;
}

mat-progress-spinner {
  margin: auto;
}

mat-sidenav {
  min-width: 215px;
}

.mat-list-item-content {
  padding: 0 16px 0 6px !important;
}

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-placeholder {
  color: rgba(0, 0, 0, 0.87);
  font-weight: bold;
  font-size: 1.1em;
}

mat-grid-tile p strong, mat-grid-tile span label {
  color: rgba(0, 0, 0, 0.87);
  font-weight: bold;
  font-size: .9em;
}

input.mat-input-element {
  color: #929292;
}

.mat-cell {
  font-size: 13px !important;
}

.mat-table {
  overflow: hidden !important;
  max-height: max-content !important;
}
