/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  background: lightgray;
  background-image: url(/assets/img/bg-login.jpeg);
  webkit-background-image: url(/assets/img/bg-login.jpeg);
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  width: 100%;
}

/*Commons styles*/
.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.right {
  float: right;
}

.top {
  padding-top: 50px;
}

mat-divider {
  margin-right: 100px !important;
}



